{% extends 'kz_app/header.html' %}
    {% load static %}

    {% block title %}Cities of Kazakhstan{% endblock title %}

    {% block style %}
        <style>
            body{
                background-color: rgb(0, 0, 0);
            }
            #city{
                margin: 0 5% 2% 5%;
                padding: 1% 1% 1.5% 2%;
                display: flex;
                background-color: white;
            }
            #city a{
                width: 140px;
                text-decoration: none;
                color:black;
                padding: 4px 10px 4px 10px;
                border-radius: 3px;
                border: 1px solid black;
                margin-right: 20px;
                box-shadow: black 3px 3px;
                text-align: center;
            }
            #city a:hover{
                color: white;
                background-color: black;
                border: 1px solid white;
            }
            #city a:active{
                box-shadow: white 0px 0px 0px;
                transform: translateX(3px) translateY(3px);
                background-color: rgb( 0, 200, 0);
            }
            .contentArea{
                width: 90%;
                height: auto;
                position: relative;
                background-color: rgb(255, 255, 255, 0.5);
                margin: 0 5% 5% 5%;
                padding: 15px;
                display: block;
                border: 5px solid;
                border-image: linear-gradient(#ff512f, #dd2476, #1c64ff) 5;
                animation: rotate 2.5s ease-in infinite;
            }
            @keyframes rotate{
                50%{
                    border-image: linear-gradient(360deg, green, purple, yellow) 5;
                }
            }
            .contentArea h1{
                color: black;
                text-align: center;
                letter-spacing: 4px;
                padding: 10px 0 10px 0;
                font-size: 40px;
            }
            .contentDesc{
                width: 30%;
                text-align: flex-start;
                border: 1px solid black;
                margin: 15px 0 15px 80px;
                border-radius: 20px;
                padding: 10px 10px 10px 15px;
            }
            .image img{
                height: 410px;
                margin: 15px 15px 15px 65px;
                border-radius: 15px;
            }
        </style>
    {% endblock style %}

    {% block link %}
        <li style="margin-left: 27px;"><a href="{% url 'index1' %}" style="text-decoration: none; color: white;"><p>Main Page</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'university' %}" style="text-decoration: none; color: white;"><p>Universities</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'sportmasters' %}" style="text-decoration: none; color: white;"><p>Sport-masters</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'foods' %}" style="text-decoration: none; color: white;"><p>Foods</p></a></li>
    {% endblock link %}

    {% block body %}
        <div class="btn" id="city">
            <a href="{% url 'city' %}" style="background-color: rgb(0, 200, 0);">All city</a>
            <a href="{% url 'south' %}">South</a>
            <a href="{% url 'north' %}">North</a>
            <a href="{% url 'central' %}">Central</a>
            <a href="{% url 'west' %}">West</a>
            <a href="{% url 'east' %}">East</a>
            <a href="{% url 'feedbacks' %}" style="margin-left: 200px;">Feedback</a>
        </div>
        {% for id in city %}
            <figure class="contentArea">
                <a href="{{ id.slug }}">
                    <h1>{{ id.city_name }}</h1>
                    <div style="display: flex;">
                        <div class="contentDesc">
                            <b>{{ id.description|safe }}</b>
                        </div>
                        <div class="content">
                            <div class="image">
                                <img src="{{id.image.url}}" class="img-fuid" alt="...">
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        {% endfor %}
    {% endblock body %}