{% extends 'kz_app/header.html' %}
    {% load static %}

    {% block title %}Traditional foods{% endblock title %}

    {% block style %}
        <style>
            body{
                background-color: rgb(0, 0, 0, 0.7);
            }
            .contentArea{
                width: 90%;
                height: 495px;
                position: relative;
                border: 1px solid black;
                border-radius: 20px;
                background-color: rgb(255, 255, 255, 0.3);
                margin: 0 5% 5% 5%;
                display: block;
            }

            .contentArea h1{
                color: black;
                text-align: center;
                letter-spacing: 4px;
                padding: 30px 0 10px 0;
                font-size: 40px;
            }

            .contentDesc{
                width: 30%;
                text-align: flex-start;
                border: 1px solid black;
                margin: 15px 0 15px 80px;
                border-radius: 20px;
                padding: 10px 10px 10px 15px;
            }


            .image img{
                height: 360px;
                margin: 15px 0 15px 80px;
                border-radius: 15px;
            }
        </style>
    {% endblock style %}

    {% block link %}
                <li style="margin-left: 27px;"><a href="{% url 'index1' %}" style="text-decoration: none; color: white;"><p>Main Page</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'city' %}" style="text-decoration: none; color: white;"><p>Cities</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'university' %}" style="text-decoration: none; color: white;"><p>Universities</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'sportmasters' %}" style="text-decoration: none; color: white;"><p>Sport-masters</p></a></li>
    {% endblock link %}

    {% block body %}
        {% for id in foods %}
            <div class="contentArea">
                <h1>{{ id.name }}</h1>
                <div style="display: flex; margin: 20px 0 10px 0;">
                    <div class="contentDesc">
                        <b>{{ id.description }}</b>
                    </div>
                    <div class="content">
                        <div class="image" style="">
                            <img src="{{id.images.url}}" class="d-block w-100" alt="...">
                        </div>
                        <style>
                            .contentArea{
                                height: auto;
                                padding-bottom: 20px;
                                position: relative;
                            }
                        </style>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endblock body %}

