{% extends 'kz_app/header.html' %}
    {% load static %}
    {% block title %}Womens{% endblock title %}

    {% block style %}
        <style>
            body{
                background-color: rgb(0, 0, 0, 0.78);
            }
            .list-articles li{
                margin: 40px 0 0 45px;
                color: white;
                padding: 10px;
            }
            li h2{
                color: white;
            }
            li p{
                color: white;
            }
            li a{
                text-decoration: none;
                color: white;
            }
            .link-read-post{
                margin: 5px 0 0 90%;
            }
        </style>
    {% endblock style %}

    {% block link %}
        <li style="margin-left: 27px;"><a href="{% url 'index1' %}" style="text-decoration: none; color: white;"><p>Main Page</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'city' %}" style="text-decoration: none; color: white;"><p>Cities</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'university' %}" style="text-decoration: none; color: white;"><p>Universities</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'foods' %}" style="text-decoration: none; color: white;"><p>Foods</p></a></li>
        <li style="margin-left: 20px;"><a href="{% url 'feedbacks' %}" style="text-decoration: none; color: white;"><p>Feedbacks</p></a></li>
    {% endblock link %}

    {% block body %}
        <ul class="list-articles">
            <li>
                <h3>{{women.title}}</h3>
                <em>{% autoescape off %}
                        {{women.content|linebreaks|truncatewords:80}}
                    {% endautoescape %}
                </em>
                <div class="clear"></div>
                <p class="link-read-post"><a href="{{ women.link }}" target="_blank">Read post</a></p>
            </li>
        </ul>
    {% endblock body %}


